extends layout

block content
  form(method='post', action='/books/search')
    p
      input(type='submit', value='Search')
      input(name='search', type='text', placeholder='search for books...')
  h1 Books
  p
    a.button(href='/books/new') Create New Book
  table
    thead
      tr
        th Title
        th Author
        th Genre
        th Year
    tbody
      each book in books
        tr
          td
            a(href=`/books/${book.id}`)=book.title
            td=book.author
            td=book.genre
            td=book.year
        tr
  ul  
    each book in books
      a.button(href='/books') Page
  p
   a.button(href='/books/') Home